@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, * {
    font-family: 'Raleway', system-ui, sans-serif;
  }
}

@layer components {
  .timer-digits {
    @apply text-[#7F8579] bg-white rounded-2xl py-1 px-4 text-[40px] text-center font-orbitron font-black;
  }
}
@layer utilities {

  .font-orbitron {
    font-family: 'Orbitron', sans-serif;
  }
  .font-raleway {
    font-family: 'Raleway', sans-serif;
  }
  .font-playwrite {
    font-family: 'PlaywriteAUNSW', sans-serif;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
